<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Springboot LTI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:each="item : ${payload.keyValues()}"
       th:text="${item}"></p>
</body>
</html>